*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:2px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}
.wrapper{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#text1{
  visibility:hidden;
  color: red;
}